section.heading,
section.menu{
	width: 100%;
	display: flex;
}
section.heading{
	height: calc(100vh - 6rem);
	flex-direction: column;
	h2{
		margin-top: 1rem;
		height: 2.25rem;
		width: 100%;
		border-bottom: 1px solid var(--font-color-soft);
	}
}
.offers{
	height: calc(100% - 17.5rem);
	background: url(/src/assets/img/mesa.jpg);
	background-position: bottom;
	background-size: cover;
	border-radius: 2rem;
	position: relative;
}
.offers_title{
	position: absolute;
	bottom: 1rem;
	left: 5%;
	color: var(--bg-color);
	text-shadow: 0 0 .5rem var(--font-color);
	z-index: 3;
	font-size: 1.5rem;
	user-select: none;
}
.offers_content{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background: url(/src/assets/img/PizzaPortada.webp);
	background-repeat: no-repeat;
	background-position: 50% 55%;
	background-size: 55%;
	transition: all .3s ease-in-out;
	z-index: 2;
}
.offers:hover .offers_content{
	background-position: 50% 45%;
}
.offers .search{
	z-index: 3;
	color: var(--bg-color);
	background: var(--color-3);
	border-radius: 1rem 2rem 0 1rem;
	position: absolute;
	right: 0;
	top: 0;
	width: 16rem;
	height: 2rem;
	display: flex;
	align-items: center;
	padding: 0 1.25rem 0 .5rem;
	gap: .25rem;
	cursor: pointer;
}
.offers .search svg{
	width: 1.5rem;
}
.offers .search input[type="search"]{
	background: transparent;
	width: calc(100% - 1.5rem);
	height: 100%;
}
.offers .search input[type="search"]::placeholder{
	color: var(--bg-color-main);
	font-weight: 100;
}
.offers .search input[type="search"]::-webkit-search-cancel-button{
	-webkit-appearance: none;
	height: 1rem;
	width: 1rem;
	background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
	background-size: contain;
	opacity: .7;
	transition: all .4s;
}
.categories{
	width: 100%;
	height: 7.125rem;
	padding: .5rem;
	overflow-x: scroll;
	display: flex;
	gap: 1rem;
	.category{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: .5rem;
		height: 100%;
		aspect-ratio: 3 / 2;
		border-radius: 1.25rem;
		background: var(--bg-color-card);
		color: var(--color-4);
		transition: all .1s ease;
		cursor: pointer;
		user-select: none;
		svg{
			height: 1.75rem;
			transition: all .1s ease;
		}
	}
	.category:hover{
		background: var(--bg-color-card-hover);
		color: var(--color-5);
		svg{
			transform: scale(1.15);
		}
	}
}
.categories::-webkit-scrollbar{
	background-color: transparent;
	height: .75rem;
	padding: 0 2px;
}
.categories::-webkit-scrollbar:hover{
	background-color: var(--bg-color-card);
}
.categories::-webkit-scrollbar-thumb{
	background-color: var(--bg-color-card-hover);
	margin: 0 2px;
}

section.menu{
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}
.menuArticleOverlay{
    z-index: 6;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
}