.LoginButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 7rem;
}
.LoginButtons a{
    width: 100%;
    height: 50%;
    display: grid;
    place-items: center;
    border-radius: .5rem;
    background: inherit;
    border: 2px solid var(--color-5);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all .2s;
}
.LoginButtons a:hover{
    background: var(--color-5);
    color: var(--bg-color);
}
.LoginContainer{
    width: 100%;
    max-width: 330px;
    height: fit-content;
    border-radius: 1rem;
    padding: .5rem 1rem;
    background: var(--bg-color-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}
.LoginContainer nav{
    width: 100%;
    height: 2.25rem;
    display: flex;
    position: relative;
    user-select: none;
}
.LoginContainer nav::after{
    content: "";
    position: absolute;
    left: 60%;
    bottom: 0;
    width: 30%;
    height: 3px;
    background: var(--color-5);
    border-radius: 3px 3px 0 0;
    transition: all .5s ease-in-out;
}
.LoginContainer nav.loginSelected::after{
    left: 10%;
}
.LoginContainer nav a{
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: .25rem;
    transition: all .3s;
}
.LoginContainer nav a:hover{
    background: var(--bg-color-card);
}
.LoginContainer form{
    width: 100%;
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
    gap: .75rem;
}
.LoginContainer form span{
    width: 100%;
    position: relative;
}
.LoginContainer form input{
    width: 100%;
    height: 2.5rem;
    border-radius: .25rem;
    background: var(--bg-color-card);
    padding: 0 .75rem;
    font-size: .9rem;
    cursor: pointer;
}
.LoginContainer form span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 25%;
    width: 3px;
    height: 50%;
    border-radius: 0 3px 3px 0;
    background: transparent;
    transition: background .2s;
}
.LoginContainer form span:focus-within::after{
    background: var(--color-5);
}
.LoginContainer form input::placeholder{
    color: var(--font-color-soft);
}
.LoginContainer form input[type="submit"]{
    background: var(--color-5);
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--bg-color)
}
.LoginContainer form input:-webkit-autofill,
.LoginContainer form input:-webkit-autofill:hover, 
.LoginContainer form input:-webkit-autofill:focus, 
.LoginContainer form input:-webkit-autofill:active{
    border: 0 solid var(--bg-color-card);
    -webkit-text-fill-color: var(--font-color);
    -webkit-box-shadow: 0 0 0 100px var(--bg-color-card) inset;
    transition: background-color 5000s ease-in-out 0s;
}
.LoginContainer svg{
    width: 8rem;
    height: 8rem;
}