:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* general colors */
    --font-color: rgba(255, 255, 255, 0.87);
    --font-color-soft: rgba(255, 255, 255, 0.6);
    --bg-color: #242424;
    --bg-color-header: #10112c;
    --bg-color-main: var(--bg-color);
    --bg-color-link: #646cff;
    --bg-color-link-hover: #535bf2;
    --bg-color-card: rgba(181, 184, 245, 0.1);
    --bg-color-card-hover: rgba(181, 184, 245, 0.15);
    
    /* static in both themes */
    --bg-color-footer: #242424;
    --font-color-footer: rgb(198, 203, 215);
    --font-color-soft-footer: rgba(198, 203, 215, 0.5);

    /* main colors */
    --color-1: #9d7361;
    --color-2: rgba(244, 129, 6, 0.5);
    --color-3: rgba(221, 88, 70, 0.5);
    --color-4: rgba(216, 81, 13, 1);
    --color-5: rgba(229, 60, 51, 1);
}

/* light theme active */
@media (prefers-color-scheme: dark) {
    :root {
        /* general colors */
        --font-color: rgba(0, 0, 0, 0.87);
        --font-color-soft: rgba(0, 0, 0, 0.6);
        --bg-color: #d8dbdd;
        --bg-color-header: #c6c8f7;
        --bg-color-main: #f1f1f1;
        --bg-color-link: #646cff;
        --bg-color-link-hover: #535bf2;
        --bg-color-card: rgba(100, 108, 255, 0.15);
        --bg-color-card-hover: rgba(102, 110, 255, 0.25);
        --bg-color-card-shadow: rgba(0, 0, 0, 0.2);

        /* main colors */
        --color-1: #f1a585;
        --color-2: #f48106;
        --color-3: #dd5846;
        --color-4: #d8500d;
        --color-5: #e53b33;
    }
}

/* if a user's device settings are set to reduced motion */
@media (prefers-reduced-motion) {
    * {
        animation: none;
    }
}