section.heading,
section.cart,
section.buy{
	width: 100%;
	display: flex;
}
section.heading{
	height: 2.25rem;
	border-bottom: 1px solid var(--font-color);
}
section.cart{
	height: calc(100vh - 12.25rem);
	flex-direction: column;
	overflow: hidden;
	overflow-y: scroll;
	padding: 1.5rem 0;
	gap: .5rem;
}
section.cart::-webkit-scrollbar{
	background-color: transparent;
	background-color: var(--bg-color-card);
	width: .75rem;
	padding: 0 2px;
}
section.cart::-webkit-scrollbar-thumb{
	background-color: var(--bg-color-card-hover);
	margin: 0 2px;
}
section.cartEmpty{
	background: url(../../assets/img/cartEmpty.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20vh;
}

section.buy{
	align-items: center;
	justify-content: space-between;
	gap: .5rem;
	z-index: 3;
	position: sticky;
	bottom: 0;
	height: 4rem;
	box-shadow: 0 0 1rem .5rem var(--bg-color-main);
	background: var(--bg-color-main);
	padding: .75rem 1.5rem;
}
section.buy .total{
	font-weight: 500;
	font-size: 1rem;
	display: flex;
	gap: .75rem;
}
section.buy .total span:last-child{
	border: 1px solid var(--color-5);
	border-radius: .25rem;
	padding: 0 .25rem;
}
section.buy button{
	height: 100%;
	padding: 0 1.25rem;
	border-radius: .5rem;
	background: var(--color-5);
	color: var(--bg-color);
	font-weight: 500;
	font-size: 1rem;
	cursor: pointer;
}